.div-logo{
    display: flex !important;
    justify-content: center !important;
}


.imgClientes{
    /* background: red; */
    width: 80% !important;
    height: 110px !important;
    object-fit: contain !important; 
    padding-bottom: 4px;
}