.PartnerCompany{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    .title{
        align-content: center;
    }
    .sci-size {
        height: 300px;
        width: 300px;
        object-fit: contain;
    }
    img{
        height: 220px;
        width: 220px;
        object-fit: contain;
    }

    .imagesdiv > img:nth-of-type(2) {
        transform: translateY(-25px);
    }
    /* .imagesdiv > img:nth-of-type(3) {
        transform: translateY(-5px);
    } */

}



.imagesdiv{
    width: 70%;
    display: flow;
}
@media (max-width: 768px) {
    .PartnerCompany{
        display: grid;
        justify-content: center;
        margin-top: 3rem;
        .title{
            align-content: center;
        }
         .sci-size {
            height: 250px;
            width: 250px;
            object-fit: contain;
        }
        img{
            height: 150px;
            width: 150px;
            object-fit: contain;
        }
    }
    
    .imagesdiv{
        width: 100%;
        display: flow;
    } 
}