.logophone {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        display: grid !important;
        justify-content: center !important;
    }
}

.footer {

    @media (max-width: 768px) {
        padding: 3rem 0rem !important;
        img {
            height: 110px !important;
        }
    }
}

.footerLocation {
    @media (max-width: 768px) {
        display: grid !important;
        justify-content: center !important;

    }

}

.columnFooter {
    .mail-phone{
        display: flex;
        justify-content: end;
    }
    @media (max-width: 768px) {
        width: 100%;

    }
}