.logophone {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        display: grid !important;
        justify-content: center !important;
    }
}

.footerS{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.footer {
    font-weight: bold;
    font-size: 16px;
    font-family: DM Sans !important;
    @media (max-width: 768px) {
        padding: 3rem 0rem !important;
        img {
            height: 110px !important;
        }
    }
}

.footerLocation {
    @media (max-width: 768px) {
        display: grid !important;
        justify-content: center !important;
        gap: 1rem;
     span{
           width: 50%;
     }
     .locationItem{
        justify-content: center;
     }
    }

}

.columnFooter {
    .mail-phone{
        display: flex;
        justify-content: end;
    }
    @media (max-width: 768px) {
        width: 100%;

    }
}

.locationItem{
    margin: 0 !important; 
    text-align: center;
    display: flex;
}