@font-face {
    font-family: 'DM Sans';
    src: url('/src/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  }
  

  @media (min-width: 768px) and (max-width: 1024px) {
   
    .footerLocation{
      display: grid !important
;
        grid-template-columns: repeat(2, 1fr) !important;
     /* width: 50% !important; */
    }
    .textMaps{
      max-width: 80% !important;
    }
  
  }
  